deploy/n8n/workflows/cms-kaihai-confirm.json
{
  "name": "CMS 改廃確認 · v1.0（page 13 解耦：webhook → cms-api → 联动停售 + 飞书 + audit）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cms-kaihai-confirm",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "k0001-webhook",
      "name": "Webhook · CMS 触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "cms-kaihai-confirm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "v1", "name": "run_id", "value": "={{ $json.body.run_id || ('kaihai_' + $json.body.jan + '_' + $now.toMillis()) }}", "type": "string"},
            {"id": "v2", "name": "jan", "value": "={{ $json.body.jan }}", "type": "string"},
            {"id": "v3", "name": "source", "value": "={{ $json.body.source }}", "type": "string"},
            {"id": "v4", "name": "signal_type", "value": "={{ $json.body.signal_type }}", "type": "string"},
            {"id": "v5", "name": "detected_at", "value": "={{ $json.body.detected_at }}", "type": "string"},
            {"id": "v6", "name": "action", "value": "={{ $json.body.action }}", "type": "string"},
            {"id": "v7", "name": "operator", "value": "={{ $json.body.operator || 'BOSS' }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "k0002-set",
      "name": "变量提取",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ run_id: $('变量提取').first().json.run_id, status: 'accepted', note: 'async processing' }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "k0003-respond",
      "name": "立即返回 CMS (202)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cms-api:8789/api/automation/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_id: $('变量提取').first().json.run_id, module: 'kaihai_confirm', status: 'processing' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "k0004-cb-processing",
      "name": "CMS 回调 · processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cms-api:8789/v1/kaihai/confirm",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_id: $('变量提取').first().json.run_id, jan: $('变量提取').first().json.jan, source: $('变量提取').first().json.source, signal_type: $('变量提取').first().json.signal_type, detected_at: $('变量提取').first().json.detected_at, action: $('变量提取').first().json.action, operator: $('变量提取').first().json.operator }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "k0005-confirm",
      "name": "cms-api · PG update + 联动停售 + audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "// 组装飞书消息 + 计算飞书加签 (HMAC-SHA256)\nconst crypto = require('crypto');\nconst v = $('变量提取').first().json;\nconst r = items[0].json;\nconst actionEmoji = { '取扱中止': '🚫', '継続': '✅', '代替品調査': '🔍' }[v.action] || '⚠️';\nconst linkageNote = r.linkage_applied ? '· item_master.rank → 停売 ✅' : '';\nconst msg = `${actionEmoji} 改廃確認 [JAN ${v.jan}] · ${v.action}\\n${linkageNote}\\nupdated_alerts=${r.updated_alerts} · operator=${v.operator}\\nrun_id=${v.run_id}`;\n// 飞书自定义机器人加签: HMAC-SHA256(timestamp+\"\\n\"+secret AS KEY, '') → base64\nconst ts = Math.floor(Date.now() / 1000);\nconst secret = $env.LARK_EXPORT_BIZ_SIGN_SECRET || $env.LARK_BOT_SIGN_SECRET || '';\nconst stringToSign = `${ts}\\n${secret}`;\nconst sign = crypto.createHmac('sha256', stringToSign).update('').digest('base64');\nreturn [{ json: { msg, timestamp: String(ts), sign, run_id: v.run_id, updated_alerts: r.updated_alerts, linkage_applied: r.linkage_applied, action: v.action } }];"
      },
      "id": "k0006-format-lark",
      "name": "飞书 msg 组装",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LARK_EXPORT_BIZ_WEBHOOK || $env.LARK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timestamp: $json.timestamp, sign: $json.sign, msg_type: 'text', content: { text: $json.msg } }) }}",
        "options": {
          "timeout": 10000,
          "redirect": {"redirect": {}}
        }
      },
      "id": "k0007-lark-notify",
      "name": "飞书通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cms-api:8789/api/automation/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_id: $('变量提取').first().json.run_id, module: 'kaihai_confirm', status: 'completed', summary: { action: $('变量提取').first().json.action, jan: $('变量提取').first().json.jan, updated_alerts: $('飞书 msg 组装').first().json.updated_alerts, linkage_applied: $('飞书 msg 组装').first().json.linkage_applied } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "k0008-cb-done",
      "name": "CMS 回调 · completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400]
    }
  ],
  "connections": {
    "Webhook · CMS 触发": {
      "main": [[
        {"node": "变量提取", "type": "main", "index": 0}
      ]]
    },
    "变量提取": {
      "main": [[
        {"node": "立即返回 CMS (202)", "type": "main", "index": 0},
        {"node": "CMS 回调 · processing", "type": "main", "index": 0}
      ]]
    },
    "CMS 回调 · processing": {
      "main": [[
        {"node": "cms-api · PG update + 联动停售 + audit", "type": "main", "index": 0}
      ]]
    },
    "cms-api · PG update + 联动停售 + audit": {
      "main": [[
        {"node": "飞书 msg 组装", "type": "main", "index": 0}
      ]]
    },
    "飞书 msg 组装": {
      "main": [[
        {"node": "飞书通知", "type": "main", "index": 0}
      ]]
    },
    "飞书通知": {
      "main": [[
        {"node": "CMS 回调 · completed", "type": "main", "index": 0}
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["cms-decouple", "kaihai", "v1.0"]
}
