deploy/n8n/workflows/shopee-mass-upload.json
{
  "name": "Shopee 自动上架 · v2.0 完整编排（B1-B5 + image-processor）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopee-mass-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n01-trigger",
      "name": "Webhook · CMS 触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "shopee-mass-upload"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "run_id",
              "value": "={{ $json.body.run_id }}"
            },
            {
              "name": "market_list",
              "value": "={{ JSON.stringify($json.body.markets || ['TW','PH','MY','SG','TH','VN','BR']) }}"
            },
            {
              "name": "sku_master_url",
              "value": "={{ $json.body.sku_master_url || ('http://cms-api:8789/api/sku/master?jans=' + ($json.body.sku_jans || []).join(',')) }}"
            },
            {
              "name": "spu_groups_json",
              "value": "={{ JSON.stringify($json.body.spu_groups || []) }}"
            },
            {
              "name": "cms_callback",
              "value": "http://cms-api:8789/api/automation/callback"
            },
            {
              "name": "cms_xlsx_upload_url",
              "value": "http://cms-api:8789/api/automation/xlsx-upload"
            },
            {
              "name": "image_processor_base",
              "value": "http://image-processor:8788"
            },
            {
              "name": "volc_ark_url",
              "value": "https://ark.cn-beijing.volces.com/api/v3/chat/completions"
            },
            {
              "name": "volc_ark_model",
              "value": "={{ $env.VOLC_ARK_TEXT_MODEL || 'deepseek-v3-2-251201' }}"
            },
            {
              "name": "volc_ark_api_key",
              "value": "={{ $env.VOLC_ARK_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n02-vars",
      "name": "变量提取",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ run_id: $json.run_id, status: 'accepted', message: 'N8N v2.0 已接受，开始 B1-B5 编排' }) }}",
        "options": {}
      },
      "id": "n07-response",
      "name": "立即返回 CMS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        600
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "function fmt(e){try{return typeof e==='string'?e:JSON.stringify(e).slice(0,300);}catch(_){return String(e);}}\n// n02b · 自动 refresh 7 国 Shopee access_token（v2.3 新增）\n// 每次 workflow 触发时第 0 步跑：\n//   1. 从 cms-api 拉持久化的 refresh_tokens (fallback to env SHOPEE_REFRESH_TOKENS)\n//   2. foreach 7 国调 /api/v2/auth/access_token/get refresh\n//   3. 拿到新 access_token + 新 refresh_token（refresh_token 每次也会变！）\n//   4. 把新 refresh_tokens 持久化回 cms-api (下次用)\n//   5. access_tokens 通过节点跨引用传给 n14b 用\n// Stub fallback: SHOPEE_PARTNER_KEY 未配 → 全 skip\n\nconst ctx = $input.first().json;\nconst http = this.helpers.httpRequest;\nconst crypto = require('crypto');\n\nconst partnerId = $env.SHOPEE_PARTNER_ID || '';\nconst partnerKey = $env.SHOPEE_PARTNER_KEY || '';\nconst apiBase = $env.SHOPEE_API_BASE || 'https://openplatform.shopee.sg';\nlet shopIds = {};\nlet envRefresh = {};\ntry { shopIds = JSON.parse($env.SHOPEE_SHOP_IDS || '{}'); } catch (e) {}\ntry { envRefresh = JSON.parse($env.SHOPEE_REFRESH_TOKENS || '{}'); } catch (e) {}\n\nconst markets = JSON.parse(ctx.market_list || '[]');\n\nif (!partnerId || !partnerKey) {\n  return [{ json: { ...ctx, access_tokens: {}, refresh_status: 'stub_no_shopee_credentials' }}];\n}\n\n// 1. 拿持久化 refresh_tokens (fallback env)\nlet refreshTokens = {};\ntry {\n  const stored = await http({\n    method: 'GET', url: 'http://cms-api:8789/api/automation/shopee/tokens',\n    json: true, timeout: 10000\n  });\n  refreshTokens = (stored && stored.refresh_tokens) || {};\n} catch (e) {}\n// 合并：cms-api 有的优先，env 兜底\nfor (const mk of markets) {\n  if (!refreshTokens[mk] && envRefresh[mk]) refreshTokens[mk] = envRefresh[mk];\n}\n\n\n\n// 2. foreach refresh\nconst newAccess = {};\nconst newRefresh = {};\nconst errors = [];\nconst path = '/api/v2/auth/access_token/get';\nfor (const mk of markets) {\n  const shopId = shopIds[mk];\n  const refreshToken = refreshTokens[mk];\n  if (!shopId || !refreshToken) {\n    errors.push({ mk, reason: 'no shop_id or refresh_token (env/KV 都没)' });\n    continue;\n  }\n  const ts = Math.floor(Date.now() / 1000);\n  const baseString = `${partnerId}${path}${ts}`;\n  const sign = crypto.createHmac('sha256', partnerKey).update(baseString).digest('hex');\n  const url = `${apiBase}${path}?partner_id=${partnerId}&timestamp=${ts}&sign=${sign}`;\n  try {\n    const resp = await http({\n      method: 'POST', url,\n      headers: { 'Content-Type': 'application/json' },\n      body: { refresh_token: refreshToken, shop_id: Number(shopId), partner_id: Number(partnerId) },\n      json: true, timeout: 30000\n    });\n    if (resp && resp.error) {\n      errors.push({ mk, reason: `${resp.error}: ${(resp.message || '').slice(0,120)}` });\n    } else if (resp && resp.access_token) {\n      newAccess[mk] = resp.access_token;\n      newRefresh[mk] = resp.refresh_token || refreshToken;\n    } else {\n      errors.push({ mk, reason: 'no access_token in response' });\n    }\n  } catch (e) {\n    errors.push({ mk, reason: fmt(e) });\n  }\n}\n\n// 3. 持久化新 refresh_tokens\nif (Object.keys(newRefresh).length > 0) {\n  try {\n    // merge：保留 env 但本次新的覆盖\n    const merged = { ...envRefresh, ...refreshTokens, ...newRefresh };\n    await http({\n      method: 'PUT', url: 'http://cms-api:8789/api/automation/shopee/tokens',\n      headers: { 'Content-Type': 'application/json' },\n      body: { refresh_tokens: merged, updated_at: new Date().toISOString() },\n      json: true, timeout: 10000\n    });\n  } catch (e) {\n    errors.push({ stage: 'persist', reason: fmt(e) });\n  }\n}\n\nconst okCount = Object.keys(newAccess).length;\nconst total = markets.length;\nconst status = okCount === total ? 'all_ok' : okCount === 0 ? 'all_failed' : 'partial';\n\nreturn [{ json: { ...ctx, access_tokens: newAccess, refresh_errors: errors, refresh_status: status }}];\n"
      },
      "id": "n02b-refresh-tokens",
      "name": "n02b · Shopee token 自动 refresh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.cms_callback }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"module\": \"shopee_mass_upload\",\n  \"status\": \"processing\",\n  \"message\": \"v2.3 编排启动: token refresh + B1 SKU 查询\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n03-cms-ack",
      "name": "CMS 回调 · processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $('变量提取').first().json.sku_master_url }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n10-sku-master",
      "name": "B1 · 查 SKU 主档",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B2 · SPU 聚合（按 Boss 预指定 spu_groups 分组 SKU）\n// 类目不再硬编码 CAT_MAP — 改由 n14b 调 Shopee category_recommend API 自动判定\n// 输入: B1 返回的 SKU 主档数组 + 原 webhook payload 的 spu_groups\n// 输出: [{ spu_key, sku_list, markets, _vars }]\n\nconst vars = $('变量提取').item.json;\nconst skuList = $input.all().map(i => i.json);\nconst spuGroups = JSON.parse(vars.spu_groups_json || '[]');\nconst markets = JSON.parse(vars.market_list);\n\nfunction firstCatTag(tags) {\n  if (!Array.isArray(tags)) return null;\n  return tags.find(t => typeof t === 'string' && t.startsWith('cat-')) || null;\n}\n\n// SPU 分组：Boss 给了 spu_groups 就用，没给就退化到 1 SKU = 1 SPU\nlet groups;\nif (spuGroups.length > 0) {\n  groups = spuGroups.map(g => ({\n    spu_key: g.spu_key,\n    sku_list: skuList.filter(s => g.sku_jans.includes(s.jan || s.sku))\n  })).filter(g => g.sku_list.length > 0);\n} else {\n  groups = skuList.map(s => ({ spu_key: s.jan || s.sku, sku_list: [s] }));\n}\n\nreturn groups.map(g => ({\n  json: {\n    spu_key: g.spu_key,\n    sku_count: g.sku_list.length,\n    sku_list: g.sku_list,\n    // Shopify 内部 cat tag（信息性，仅用于 fallback 显示，不参与 Shopee 上架）\n    cat_tag_shopify: firstCatTag(g.sku_list[0]?.tags),\n    markets: markets,\n    _vars: vars,\n    llm_input_json: JSON.stringify({spu_key: g.spu_key, sku_list: g.sku_list})\n  }\n}));\n"
      },
      "id": "n11-aggregate",
      "name": "B2 · SPU 聚合",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "n12-split",
      "name": "SPU 循环 · 每次 1 个",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B3 · 调火山方舟 DeepSeek（jsCode 版，绕开 jsonBody 表达式坑）\nconst ctx = $('B2 · SPU 聚合').first().json;\nconst item = $input.first().json;\nconst http = this.helpers.httpRequest;\n\nconst body = {\n  model: ctx._vars.volc_ark_model || 'deepseek-v3-2-251201',\n  messages: [\n    {\n      role: 'system',\n      content: '你是 Shopee 跨境上架内容专家。给你 N 个 SKU 的中/日文标题和卖点，请输出 1 个 SPU 的完整上架内容。严格按 JSON schema 返回，不要 markdown 围栏，不要解释文字。Schema: { spu_title_zh: string(<=30字), spu_desc_zh: string(200-400字), spu_seo: { keywords: array, tag: array, meta_desc: string }, translations: { TW: {title, desc}, PH: {title, desc}, MY: {title, desc}, SG: {title, desc}, TH: {title, desc}, VN: {title, desc}, BR: {title, desc} } }。每国 title <= 60 字，desc 200-400 字。TW/SG 繁体中文；PH 英语；MY 马来语；TH 泰语；VN 越南语；BR 葡萄牙语。'\n    },\n    {\n      role: 'user',\n      content: item.llm_input_json\n    }\n  ],\n  response_format: { type: 'json_object' },\n  temperature: 0.3\n};\n\nconst url = ctx._vars.volc_ark_url || 'https://ark.cn-beijing.volces.com/api/v3/chat/completions';\nconst apiKey = ctx._vars.volc_ark_api_key || $env.VOLC_ARK_API_KEY || '';\n\nif (!apiKey) {\n  return [{ json: { _llm_skip: 'no_api_key', choices: [{ message: { content: '{}' } }] } }];\n}\n\ntry {\n  const resp = await http({\n    method: 'POST', url,\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + apiKey },\n    body, json: true, timeout: 60000\n  });\n  return [{ json: resp }];\n} catch (e) {\n  return [{ json: { _llm_error: String(e).slice(0, 500), choices: [{ message: { content: '{}' } }] } }];\n}\n"
      },
      "id": "n13-llm",
      "name": "B3 · 火山方舟 DeepSeek-V3.2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B3.2 · 解析 LLM JSON 输出，挂回 SPU 上下文\nconst llmResp = $input.first().json;\nconst spuCtx = $('SPU 循环 · 每次 1 个').item.json;\n\nlet content = null;\ntry {\n  const choice = llmResp.choices?.[0]?.message?.content;\n  if (typeof choice === 'string') {\n    // 去掉可能的 ```json 围栏\n    const cleaned = choice.replace(/^```(?:json)?\\s*/, '').replace(/\\s*```$/, '').trim();\n    content = JSON.parse(cleaned);\n  } else if (choice && typeof choice === 'object') {\n    content = choice;\n  }\n} catch (e) {\n  content = { _parse_error: String(e), _raw: llmResp.choices?.[0]?.message?.content };\n}\n\nreturn [{\n  json: {\n    ...spuCtx,\n    llm_content: content,\n    llm_ok: !!(content && content.spu_title_zh && content.translations)\n  }\n}];\n"
      },
      "id": "n14-parse-llm",
      "name": "B3.2 · 解析 LLM 输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B3.5 · Shopee category_recommend（自动判定各国类目）\n// 对 ctx.markets 里每个国家调用 Shopee Open API /api/v2/product/category_recommend\n// 输入: B3.2 产出的 ctx.llm_content.translations[mk].title 作为 item_name\n// access_tokens 跨节点引用 n02b 的输出（每次 workflow 触发时刚 refresh 的）\n// 输出: ctx.cat_per_market = { TW: 12345, PH: 67890, ... }\n//\n// 凭证 fallback：若 SHOPEE_PARTNER_KEY 未设 → 整节点 skip，cat_per_market 全 null\n// 这样 workflow 在 Shopee 凭证齐全前仍可端到端跑通（XLSX category_id 列空）\n\nconst ctx = $input.first().json;\nconst http = this.helpers.httpRequest;\nconst crypto = require('crypto');\n\nconst partnerId = $env.SHOPEE_PARTNER_ID || '';\nconst partnerKey = $env.SHOPEE_PARTNER_KEY || '';\nconst apiBase = $env.SHOPEE_API_BASE || 'https://openplatform.shopee.sg';\nlet shopIds = {};\ntry { shopIds = JSON.parse($env.SHOPEE_SHOP_IDS || '{}'); } catch (e) {}\n// access_tokens 来自 n02b 节点（刚刚 refresh 完，永远新鲜）\nconst accessTokens = $('n02b · Shopee token 自动 refresh').first().json.access_tokens || {};\n\nconst markets = ctx.markets || [];\nconst translations = ctx.llm_content?.translations || {};\nconst results = {};\nconst errors = [];\n\nif (!partnerId || !partnerKey) {\n  // 凭证未配 → 整节点 stub\n  for (const mk of markets) results[mk] = null;\n  return [{\n    json: {\n      ...ctx,\n      cat_per_market: results,\n      category_status: 'stub_no_shopee_credentials'\n    }\n  }];\n}\n\nconst path = '/api/v2/product/category_recommend';\nconst timestamp = Math.floor(Date.now() / 1000);\n\nfor (const mk of markets) {\n  const shopId = shopIds[mk];\n  const accessToken = accessTokens[mk];\n  const itemName = translations[mk]?.title;\n  if (!shopId || !accessToken) {\n    results[mk] = null;\n    errors.push({ mk, reason: `no shop_id/access_token in env for ${mk}` });\n    continue;\n  }\n  if (!itemName) {\n    results[mk] = null;\n    errors.push({ mk, reason: 'no LLM translation for this market' });\n    continue;\n  }\n  // Shopee HMAC-SHA256 sign: base = partner_id + path + timestamp + access_token + shop_id\n  const baseString = `${partnerId}${path}${timestamp}${accessToken}${shopId}`;\n  const sign = crypto.createHmac('sha256', partnerKey).update(baseString).digest('hex');\n  const url = `${apiBase}${path}?partner_id=${partnerId}&timestamp=${timestamp}&access_token=${accessToken}&shop_id=${shopId}&sign=${sign}`;\n  try {\n    const resp = await http({\n      method: 'POST', url,\n      headers: { 'Content-Type': 'application/json' },\n      body: { item_name: itemName },\n      json: true, timeout: 30000\n    });\n    if (resp && resp.error) {\n      results[mk] = null;\n      errors.push({ mk, reason: `${resp.error}: ${(resp.message || '').slice(0, 100)}` });\n    } else {\n      // Shopee 返回 response.category_id_list 是数组（top N 推荐）\n      const cats = resp?.response?.category_id_list || [];\n      results[mk] = cats[0] || null;\n    }\n  } catch (e) {\n    results[mk] = null;\n    errors.push({ mk, reason: String(e).slice(0, 200) });\n  }\n}\n\nconst okCount = Object.values(results).filter(v => v).length;\nlet status;\nif (okCount === markets.length) status = 'all_ok';\nelse if (okCount === 0) status = 'all_failed';\nelse status = 'partial';\n\nreturn [{\n  json: {\n    ...ctx,\n    cat_per_market: results,\n    category_errors: errors,\n    category_status: status\n  }\n}];\n"
      },
      "id": "n14b-category-recommend",
      "name": "B3.5 · Shopee category_recommend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "function fmt(e){try{return typeof e==='string'?e:JSON.stringify(e).slice(0,300);}catch(_){return String(e);}}\n// B4 · 主图流水线（串行调 image-processor sidecar）\n// 对每个 SKU 跑 upscale → cutout，最后对整个 SPU 跑 compose-spu\n// 注：N8N Code node 没法 await fetch（v1.x 限制），用 node-fetch 同步样式\nconst ctx = $input.first().json;\nconst base = ctx._vars.image_processor_base;\nconst skuList = ctx.sku_list;\n\n// 用 N8N 内置 helpers.httpRequest（typeVersion 2 Code node 支持）\nconst http = this.helpers.httpRequest;\n\nconst results = { upscale: [], cutout: [], spu_image: null, errors: [] };\n\n// Step 1: foreach SKU upscale + cutout\nfor (const sku of skuList) {\n  const jan = sku.jan || sku.sku;\n  const imgUrl = sku.main_image_url || sku.image_url || sku.image;\n  if (!jan || !imgUrl) {\n    results.errors.push({ jan, reason: 'no jan or image_url in SKU master' });\n    continue;\n  }\n  try {\n    const up = await http({\n      method: 'POST', url: base + '/upscale',\n      headers: { 'Content-Type': 'application/json' },\n      body: { jan, image_url: imgUrl, method: 'lanczos' },\n      json: true, timeout: 60000\n    });\n    results.upscale.push(up);\n    const cut = await http({\n      method: 'POST', url: base + '/cutout',\n      headers: { 'Content-Type': 'application/json' },\n      body: { jan },\n      json: true, timeout: 120000\n    });\n    results.cutout.push(cut);\n  } catch (e) {\n    results.errors.push({ jan, reason: fmt(e) });\n  }\n}\n\n// Step 2: 1 次 compose-spu 拼接\nif (results.cutout.length > 0) {\n  try {\n    const spu = await http({\n      method: 'POST', url: base + '/compose-spu',\n      headers: { 'Content-Type': 'application/json' },\n      body: { spu_key: ctx.spu_key, sku_jans: results.cutout.map(c => c.jan), source: 'branded' },\n      json: true, timeout: 60000\n    });\n    results.spu_image = spu;\n  } catch (e) {\n    results.errors.push({ stage: 'compose-spu', reason: fmt(e) });\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    image_results: results,\n    image_ok: !!(results.spu_image && results.spu_image.saved_path) && results.errors.length === 0\n  }\n}];\n"
      },
      "id": "n15-images",
      "name": "B4 · 主图流水线",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B5a · 拼装 XLSX 行（每 SPU 1 行；7 国并列字段）\n// 输出结构对应 Shopee 通用上架表 simplified 版\nconst ctx = $input.first().json;\nconst tr = ctx.llm_content?.translations || {};\nconst row = {\n  spu_key: ctx.spu_key,\n  sku_count: ctx.sku_count,\n  cat_tag_shopify: ctx.cat_tag_shopify || '',\n  category_status: ctx.category_status || 'unknown',\n  spu_title_zh: ctx.llm_content?.spu_title_zh || '',\n  spu_desc_zh: ctx.llm_content?.spu_desc_zh || '',\n  seo_keywords: (ctx.llm_content?.spu_seo?.keywords || []).join('|'),\n  seo_tag: (ctx.llm_content?.spu_seo?.tag || []).join('|'),\n  seo_meta_desc: ctx.llm_content?.spu_seo?.meta_desc || '',\n  main_image_path: ctx.image_results?.spu_image?.saved_path || '',\n  sku_jans: ctx.sku_list.map(s => s.jan || s.sku).join(','),\n};\nfor (const mk of ctx.markets) {\n  row[`title_${mk}`] = tr[mk]?.title || '';\n  row[`desc_${mk}`]  = tr[mk]?.desc || '';\n  row[`category_id_${mk}`] = ctx.cat_per_market?.[mk] || '';\n}\nreturn [{ json: row }];\n"
      },
      "id": "n16-xlsx-row",
      "name": "B5a · 拼 XLSX 行",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "shopee_upload_dry_run.xlsx"
        }
      },
      "id": "n17-xlsx-out",
      "name": "B5b · 导出 XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $('变量提取').first().json.cms_xlsx_upload_url }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Run-Id",
              "value": "={{ $('变量提取').first().json.run_id }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n18-cms-upload",
      "name": "B5b.2 · 上传 XLSX 给 CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// B5c · Shopee 上架（stub，等 Partner Key）\n// TODO 接 Shopee Open API:\n//   1. POST /api/v2/product/add_item per market\n//   2. POST /api/v2/product/upload_image\n//   3. 解析 item_id，写回 CMS\n// 当前: 直接透传 + 占位\nconst rows = $input.all().map(i => i.json);\nreturn [{\n  json: {\n    rows_processed: rows.length,\n    shopee_status: 'STUB · 等 Partner Key',\n    spu_keys: rows.map(r => r.spu_key)\n  }\n}];\n"
      },
      "id": "n19-shopee-stub",
      "name": "B5c · Shopee 上架（stub）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 汇总：从所有 SPU 处理结果统计 → 给 CMS 回调和飞书用\nconst rows = $('B5c · Shopee 上架（stub）').first().json;\nconst vars = $('变量提取').first().json;\n\nconst allRows = $items('B5a · 拼 XLSX 行').map(i => i.json);\nconst llmOk = allRows.filter(r => r.spu_title_zh).length;\nconst imageOk = allRows.filter(r => r.main_image_path).length;\n// 类目: 看 category_status all_ok / partial / stub_no_shopee_credentials\nconst catAllOk = allRows.filter(r => r.category_status === 'all_ok').length;\nconst catPartial = allRows.filter(r => r.category_status === 'partial').length;\nconst catStub = allRows.filter(r => r.category_status === 'stub_no_shopee_credentials').length;\nconst catFailed = allRows.filter(r => r.category_status === 'all_failed').length;\n\nlet catSummary;\nif (catStub === allRows.length) catSummary = '⏸ STUB（等 Shopee 凭证）';\nelse catSummary = `✅ ${catAllOk}/${allRows.length} 全市场 OK · ⚠️ ${catPartial} 部分 · ❌ ${catFailed} 失败`;\n\nreturn [{\n  json: {\n    run_id: vars.run_id,\n    cms_callback: vars.cms_callback,\n    summary: {\n      total_spu: allRows.length,\n      llm_ok: llmOk,\n      image_ok: imageOk,\n      category: catSummary,\n      shopee: rows.shopee_status\n    }\n  }\n}];\n"
      },
      "id": "n20-summary",
      "name": "汇总统计",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.cms_callback }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"module\": \"shopee_mass_upload\",\n  \"status\": \"completed\",\n  \"summary\": {{ JSON.stringify($json.summary) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n21-cms-done",
      "name": "CMS 回调 · completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        400
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 飞书签名计算（HMAC-SHA256）— $env 驱动\n// 配置：.env 里 LARK_BOT_SIGN_SECRET=xxx + LARK_WEBHOOK_URL=https://...\n// 校验失败 19021 通常 = secret 跟飞书 bot 后台不一致 → 飞书后台「安全设置」复制 secret 重配 .env\nconst crypto = require('crypto');\nconst secret = $env.LARK_BOT_SIGN_SECRET || '';\nconst url = $env.LARK_WEBHOOK_URL || '';\nconst now = Math.floor(Date.now() / 1000);\nlet ts = '', sign = '';\nif (secret) {\n  const stringToSign = `${now}\\n${secret}`;\n  const hmac = crypto.createHmac('sha256', stringToSign);\n  hmac.update('');\n  sign = hmac.digest('base64');\n  ts = String(now);\n}\nconst prev = $input.first().json;\nreturn [{ json: { ...prev, lark_timestamp: ts, lark_sign: sign, _lark_webhook_url: url } }];\n"
      },
      "id": "n22-lark-sign",
      "name": "飞书签名计算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json._lark_webhook_url }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timestamp\": \"{{ $json.lark_timestamp }}\",\n  \"sign\": \"{{ $json.lark_sign }}\",\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": { \"tag\": \"plain_text\", \"content\": \"Shopee v2.2 编排完成\" },\n      \"template\": \"green\"\n    },\n    \"elements\": [\n      { \"tag\": \"div\", \"text\": { \"tag\": \"lark_md\", \"content\": \"**任务 ID**: {{ $('汇总统计').item.json.run_id }}\\n**SPU 总数**: {{ $('汇总统计').item.json.summary.total_spu }}\\n**LLM 生成**: {{ $('汇总统计').item.json.summary.llm_ok }}\\n**主图生成**: {{ $('汇总统计').item.json.summary.image_ok }}\\n**类目自动判定**: {{ $('汇总统计').item.json.summary.category }}\\n**Shopee 上架**: {{ $('汇总统计').item.json.summary.shopee }}\" } }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n23-lark",
      "name": "飞书通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        400
      ]
    }
  ],
  "connections": {
    "Webhook · CMS 触发": {
      "main": [
        [
          {
            "node": "变量提取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "变量提取": {
      "main": [
        [
          {
            "node": "立即返回 CMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "n02b · Shopee token 自动 refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n02b · Shopee token 自动 refresh": {
      "main": [
        [
          {
            "node": "CMS 回调 · processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS 回调 · processing": {
      "main": [
        [
          {
            "node": "B1 · 查 SKU 主档",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B1 · 查 SKU 主档": {
      "main": [
        [
          {
            "node": "B2 · SPU 聚合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2 · SPU 聚合": {
      "main": [
        [
          {
            "node": "SPU 循环 · 每次 1 个",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPU 循环 · 每次 1 个": {
      "main": [
        [
          {
            "node": "B5b · 导出 XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B3 · 火山方舟 DeepSeek-V3.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B3 · 火山方舟 DeepSeek-V3.2": {
      "main": [
        [
          {
            "node": "B3.2 · 解析 LLM 输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B3.2 · 解析 LLM 输出": {
      "main": [
        [
          {
            "node": "B3.5 · Shopee category_recommend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B3.5 · Shopee category_recommend": {
      "main": [
        [
          {
            "node": "B4 · 主图流水线",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B4 · 主图流水线": {
      "main": [
        [
          {
            "node": "B5a · 拼 XLSX 行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5a · 拼 XLSX 行": {
      "main": [
        [
          {
            "node": "SPU 循环 · 每次 1 个",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5b · 导出 XLSX": {
      "main": [
        [
          {
            "node": "B5b.2 · 上传 XLSX 给 CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5b.2 · 上传 XLSX 给 CMS": {
      "main": [
        [
          {
            "node": "B5c · Shopee 上架（stub）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5c · Shopee 上架（stub）": {
      "main": [
        [
          {
            "node": "汇总统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总统计": {
      "main": [
        [
          {
            "node": "CMS 回调 · completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS 回调 · completed": {
      "main": [
        [
          {
            "node": "飞书签名计算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书签名计算": {
      "main": [
        [
          {
            "node": "飞书通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {}
}